/* basic.css */

.homepage {
  
  background-image: url('bgimg11.jpg');
  background-size: cover; /* This makes the image cover the entire background */
  background-repeat: no-repeat; /* This prevents the image from repeating */
  background-attachment: fixed; /* This makes the background image fixed when scrolling */
  background-position: center; /* This centers the background image */
  margin: 0; /* This removes the default margin around the body */
  font-family: Arial, sans-serif; /* This sets a default font for the body */
  color: rgb(17, 110, 144); /* This sets the text color to white for better contrast against dark backgrounds */
}

.aboutpage {
  background-image: url(bgimg6.jpeg);
  background-size: cover; /* This makes the image cover the entire background */
  background-repeat: no-repeat; /* This prevents the image from repeating */
  background-attachment: fixed; /* This makes the background image fixed when scrolling */
  background-position: center; /* This centers the background image */
  margin: 0; /* This removes the default margin around the body */
  font-family: Arial, sans-serif; /* This sets a default font for the body */
  color: rgb(141, 73, 172); /* This sets the text color to white for better contrast against dark backgrounds */
}

.navbar {
  top: 50%;
  float: none;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #147a8b;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}


.navbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-menu li {
  margin-left: 20px;
}

.navbar-menu li a {
  color: white;
  text-decoration: none;
}

.navbar-menu li a:hover {
  text-decoration: underline;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid #325587;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-image:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.content {
  padding-top: 60px; /* Add padding to account for the fixed navbar */
}

section {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

section h2 {
  margin-top: 0;
}

